
body{
  padding: 25px;
  background-color: #F5F5DC;
}
.title {
  width: 100%;
  text-align: center;
	color: #8a5a07;
	font-family: 'Segoe UI';
	
}
#imageofsloth {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
}

#buttonclick {
  border: 10px #000000;
  width: 100px;
  height: 50px;
  cursor: pointer;
}